<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="boardingHouseProj.Properties.Settings.BoardingHouseConnectionString"
            connectionString="Data Source=COLA\SQLEXPRESS;Initial Catalog=BoardingHouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="boardingHouseProj.Properties.Settings.BoardingHouseConnectionString1"
            connectionString="Data Source=PC\SQLEXPRESS;Initial Catalog=BoardingHouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>